/**
* @name school girl big tits +18
* @version 1.0
* @description Created by 23lollo
* @author 23lollo
*/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto');
:root {
--background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ce6c0fc0-bed6-417c-92e1-b0c4e6f89fce/dgtdwbc-f57d5ed5-0366-4b07-9d83-c3557926ebcf.jpg/v1/fill/w_1154,h_692,q_70,strp/a_naked_anime_girl_with_big_boobs_and_big_ass__by_hghshsg_dgtdwbc-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzY4IiwicGF0aCI6IlwvZlwvY2U2YzBmYzAtYmVkNi00MTdjLTkyZTEtYjBjNGU2Zjg5ZmNlXC9kZ3Rkd2JjLWY1N2Q1ZWQ1LTAzNjYtNGIwNy05ZDgzLWMzNTU3OTI2ZWJjZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.0BV1_UzpM2BsYYwxZGnCTT5CVg4Hf-tZ5FhMDiQaoiQ');
--background-image-blur: 0px;
--background-image-size: cover;
--background-image-position: bottom;
--popout-modal-image: url('https://i.imgur.com/7byzf4U.jpg');
--popout-modal-blur: 0px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://i.imgur.com/igccq9Y.jpg');
--home-button-size: cover;
--home-button-position: bottom;
--serverlist-brightness: 0.2;
--left-brightness: 0.2;
--middle-brightness: 0.2;
--right-brightness: 0.15;
--popout-modal-brightness: 0.05;
--gradient-primary: 10,10,10;
--gradient-secondary: 181,0,0;
--gradient-direction: 322deg;
--tint-colour: 255,51,159;
--tint-brightness: 0;
--window-padding: 0px;
--window-roundness: 0px;
--scrollbar-colour: #ffffff0d;
--link-colour: #00b0f4;
--show-gift-gif-buttons: no-repeat;
--font: 'Roboto';
--update-notice-1: none;
}
